
      /* CSS для фиксации положения футера и увеличения размера иконок */
      .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 10px 0;
            z-index: 1000; /* Устанавливаем более высокий индекс слоя */
            opacity: 0.5; /* Устанавливаем прозрачность 50% */
        }

        .footer i {
            font-size: 96px; /* Увеличение размера иконок */
            margin-right: 5px; /* Добавление небольшого отступа между иконкой и текстом */
            cursor: pointer; /* Добавление курсора при наведении для указания на кликабельность */
            z-index: 1000; /* Устанавливаем более высокий индекс слоя */
        }

        /* Стили для выделения фона при нажатии */
        .selected {
            opacity: 0.2; /* Устанавливаем прозрачность 50% */
        }
      
        .l_panel {
          position: fixed;
          left: 0;
          top: 0; /* Изменено с bottom на top */
          width: 20%; /* Ширина панели равна 25% ширины экрана */
          height: 100%; /* Высота панели равна высоте экрана */
          padding: 10px 0;
          z-index: 1050;
          opacity: 0.5;
          overflow-y: auto; /* Добавляет вертикальную прокрутку при необходимости */
          scrollbar-width: none; /* Скрывает полосу прокрутки на браузерах, поддерживающих это свойство */
          -ms-overflow-style: none; /* Скрывает полосу прокрутки на браузерах IE/Edge */
      }
      .l_panel::-webkit-scrollbar {
        width: 0; /* Скрывает полосу прокрутки на браузерах Chrome/Safari */
      }

      .r_panel {
        position: fixed;
        right: 0; /* Изменено с left на right */
        top: 0;
        width: 20%; /* Ширина панели равна 25% ширины экрана */
        height: 100%; /* Высота панели равна высоте экрана */
        padding: 10px 0;
        z-index: 1050;
        opacity: 0.5;
        overflow-y: auto; /* Добавляет вертикальную прокрутку при необходимости */
        scrollbar-width: none; /* Скрывает полосу прокрутки на браузерах, поддерживающих это свойство */
        -ms-overflow-style: none; /* Скрывает полосу прокрутки на браузерах IE/Edge */
    }

      .offcanvas {
        z-index: 1000; /* или любое другое значение, чтобы установить нужный порядок наложения */
    }
    #accordionEdit {
      width: 100%; /* Растягиваем на всю ширину */
    }
  
  
/* Общие стили для всех устройств */
.slide-container {
  position: relative;
}

.slide-lft {
  width: 120px;
  height: 40px; /* Общая высота для устройств с шириной экрана менее 992 пикселей (планшеты и ниже) */
  position: fixed;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: rgba(255, 102, 0, 0.548);
  color: rgb(255, 255, 255);
  padding: 5px;
  z-index: 99;
  box-shadow: 0 0 5px #777;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transform: rotate(270deg);
  transform-origin: left top;
  text-align: center; /* Выравнивание текста по центру */
  font-weight: bold; /* Жирный текст */
}

.slide-lft:hover {
  background: #ff8c00;
}

.slide-in {
  left: -250px;
  position: fixed;
  width: 250px;
  height: 700px;
  padding: 2px;
  background: rgba(168, 168, 168, 0.548);
  box-sizing: padding-box;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: 0 0 5px #777;
  z-index: 99;
}

.slide-in .btn {
  width: calc(100% - 10px);
  margin: 5px;
}

/* Стили для карточек */

#cardContainer {
  margin: 2px;
  padding: 2px;
}
.custom-card {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  width: calc(100% - 4px); /* Учитывайте внешние отступы с обеих сторон */
  border: 1px solid #28a745;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 2px; /* Внешние отступы по всем сторонам */
  color: #0f441c; /* Цвет текста */
}

.custom-card:hover {
  background-color: #28a745;
  color: #ffffff; /* Цвет текста при наведении */
}

.custom-card img {
  width: 30%;
  height: auto;
}

.custom-card-text {
  margin-left: 15px;
  width: 70%;
}

.modal-content img {
  width: 100%;
  height: auto;
}


@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Медиа-запросы */
@media (max-width: 768px) {
  .slide-lft {
    height: 50px;
  }

  .slide-in {
    width: 200px;
  }

  .slide-in .btn {
    width: calc(100% - 10px);
    margin: 5px;
  }
}

@media (max-width: 992px) {
  .slide-lft {
    height: 70px;
  }

  .slide-in {
    width: 220px;
  }
}

/* Дополнительные точки останова и стили могут быть добавлены по мере необходимости */



/*-----------------Страница пользователя  */

.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}